body {
    background: linear-gradient(to bottom right, black, blue);
    margin: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.carga, .contenedormayor, .contenedorcodigo, .conv {
    grid-column: 1/10;
    grid-row: 1/4;
}

.carga {
    width: 100vw;
    height: 100vh;
    background-color: blue;
    grid-column: 1/10;
    grid-row: 1/7;
    position: absolute;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 30px;
    overflow: hidden;
}

.imgc {
    width: 15%;
    border-radius: 50%;
}

.texto1 {
    color: blue;
    animation: cambio2 5s ease-out forwards;
    font-style: italic;
    font-size: 30px;
}

/* animaciones */

@keyframes cambio1 {
    0% {
        color: white;
    }

    50% {
        color: blue;
    }

    100% {
        color: black;
    }
}
@keyframes cambio2 {
    0% {
        color: black;
    }

    50% {
        color: blue;
    }

    100% {
        color: white;
    }
}
@keyframes bajar {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes abajo {
    0% {
        transform: translateY(0);
        opacity: 1;
        transform: rotateX(0);
    }
    100% {
        transform: translateY(150%);
        opacity: 0;
        transform: rotateX(-10deg);
    }
}
@keyframes crecer {
    0% {
        transform: translateX(-150%);
    }
    50% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(0)
    }
}
@keyframes encojer {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(-150%);
    }
}
@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes girar {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(7200deg)
    }
}
@keyframes mod {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 20%;
        height: 0;
    }
    100% {
        width: 20%;
        height: 10%;
    }
}
@keyframes mod1 {
    0% {
        width: 20%;
        height: 10%;
    }
    50% {
        width: 20%;
        height: 0;
    }
    100% {
        width: 0;
        height: 0;
    }
}
@keyframes engra {
    0% {
        width: 15%;
        opacity: 1;
    }
    100% {
        width: 30%;
        opacity: 0;
    }
}
@keyframes intro {
    0% {
        width: 100vw;
        height: 0;
    }
    100% {
        width: 100vw;
        height: 80vh;
    }
}
@keyframes des {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes des3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes des2 {
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }
    50% {
        transform: translateY(50%);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes mov {
    0% {
        transform: translateX(-200%);
    }
    50% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes reg {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(-200%);
    }
}
@keyframes mov1 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-200%);
    }
}
@keyframes color {
    0% {
        opacity: 0;
        color: white;
        margin: 10px 0;
    }
    50% {
        opacity: 0.5;
        color: black;
        margin: 10px 0;
    }
    100% {
        opacity: 1;
        color: blue;
        margin: 0;
    }
}

.com {
    animation: color 5s ease forwards;
    text-align: center; 
}

.noti {
    width: 90%;
    height: 90%;
    background-color: #183b5b;
    color: #27c5d1;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    grid-row: 3/4;
    z-index: 50;
    justify-self: center;
    border-radius: 12px;
    transform: translateX(-200%);
}

.contenedorcodigo {
    width: 100vw;
    height: 100vh;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 45;
    flex-flow: column nowrap;
    gap: 30px;
    grid-column: 1/10;
    grid-row: 1/4;
}

.textocode {
    width: 60%;
    font-size: 25px;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.code {
    width: 60%;
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
    align-items: center;
}

input {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-style: italic;
    border-radius: 50%;
}

#comprobar {
    padding: 10px;
    color: blue;
    font-size: 1.5rem;
    font-style: italic;
    opacity: 0;
    font-family: cursive;
    border-radius: 12px;
    text-align: center;
    border: 5px solid transparent;
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
    background-image: 
    linear-gradient(to right, white, white),
    linear-gradient(to bottom right, #eee, #00fa);
}

.contenedormayor {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 80px repeat(7, 1fr) 80px;
    grid-template-rows: repeat(6,1fr);
    gap: 10px;
    align-content: center;
    justify-content: center;
}

.con1, .con2, .con3, .con4, .con5, .con6 {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    text-align: center;
    transform: translateY(-200%);
}

.con1 {
    grid-column: 2/3;
    height: 80%;
    opacity: 0.3;
    align-self: center;
    grid-row: 1/3;
}

.con2 {
    grid-column: 3/4;
    align-self: center;
    height: 80%;
    opacity: 0.6;
    grid-row: 2/4;
}

.con3 {
    justify-self: center;
    grid-column: 4/7;
    grid-row: 3/6;
    width: 80%;
    padding: 0;
}

.texto {
    color: white;
    animation: cambio1 5s ease-out forwards;
    font-style: italic;
}

.con4 {
    grid-column: 5/6;
    grid-row: 2/5;
    display: none;
}

.con5 {
    grid-column: 7/8;
    align-self: center;
    height: 80%;
    opacity: 0.6;
    grid-row: 2/4;
}

.con6 {
    grid-column: 8/9;
    align-self: center;
    height: 80%;
    opacity: 0.3;
    grid-row: 1/3;
}

.block, #dayone, #dayone1 {
    width: 30%;
    grid-row: 2/3;
    justify-self: center;
    /* display: none */
    transform: translateY(0);
    mix-blend-mode: multiply;
}

#dayone {
    transform: rotateX(0);
}

.mensajecon {
    grid-column: 1/4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 60%;
    height: 40%;
    justify-self: center;
    grid-row: 4/7;
    transform: translateX(-150%);
    background-color: white;
    border-radius: 12px;
}

h2 {
    overflow: hidden;
    white-space: nowrap;
    border-left: 3px solid blue;
}

.texti {
    background-color: white;
    display: flex;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}

.conv {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111b;
}

#vid {
    width: 60%;
    align-self: center;
    border-radius: 40px; 
}

@media screen and (max-width: 560px) {
    @keyframes engrandecer {
        0% {
            width: 0;
            opacity: 0;
            height: 0;
        }
        50% {
            width: 30%;
            opacity: 0.5;
            height: 30px;
        }
        100% {
            width: 60%;
            opacity: 1;
            height: 80px;
        }
    }
    @keyframes mini {
        0% {
            width: 60%;
            opacity: 1;
            height: 80px;
        }
        50% {
            width: 30%;
            opacity: 0.5;
            height: 30px;
        }
        100% {
            width: 0;
            opacity: 0;
            height: 0;
        }
    }
    @keyframes engra {
        0% {
            width: 15%;
            opacity: 1;
        }
        100% {
            width: 200%;
            opacity: 0;
        }
    }
    .textocode {
        width: 100%;
        font-size: 25px;
    }
    input {
        width: 30px;
        height: 30px;
    }
    .code {
        width: 100%;
    }
    .noti {
        width: 90%;
        height: 40%;
        grid-column: 1/8;
        text-align: center;
        grid-row: 1/2;
    }
    .imgc {
        width: 50%;
    }
}